// 统一的主题色与字体颜色
$primary-color: #212124;
$text-color: #D0D0D0;


// 头部字体颜色
$header-text-color: #f2f3f4;
// 左右按钮背景色
$header-his-background: rgba(65, 65, 65, .7);
// input框颜色
$header-in-background: rgba(65, 65, 65, .7);
$header-in-color: rgba(255, 255, 255, 1);
$header-in-placeholder-color: rgba(255, 255, 255, .5);



.black-bg-primary_1 {
    background: $primary-color;
}

.black-color-primary_1 {
    color: $primary-color;
}

.black-cl-primary_1 {
    color: $primary-color;
}

.black-his-bg {
    background-color: $header-his-background;
}

.black-in-bg {
    background-color: $header-in-background;
}

.black-in-color {
    color: $header-in-color;
    &::placeholder {
       color: $header-in-placeholder-color;
    }
}
