// 统一的主题色与字体颜色
$primary-color: #ec4141;
$text-color: #444;

// 头部字体颜色
$header-text-color: #f2f3f4;
// 左右按钮背景色
$header-his-background: rgba(0,0,0,.1);
// input框颜色
$header-in-background: rgba(0,0,0, .1);
$header-in-color: rgba(255, 255, 255, 1);
$header-in-placeholder-color: rgba(255, 255, 255, .5);



.red-bg-primary_1 {
    background: $primary-color;
}

.red-color-primary_1 {
    color: $primary-color
}

.red-cl-primary_1 {
    color: $primary-color;
}

.red-his-bg {
    background-color: $header-his-background;
}

.red-in-bg {
    background-color: $header-in-background;
}

.red-in-color {
    color: $header-in-color;
    &::placeholder {
        color: $header-in-placeholder-color;
    }
}
